body, html {
  height: 100%;
  margin: 0;
}

/* Wrapper layout to handle sidebar and content */
  .wrapper {
    display: flex;
    flex-direction: row; /* Sidebar and content aligned horizontally */
    min-height: 100vh;  /* Ensure the wrapper takes the full height */
  }
  
  /* Sidebar fixed on the left */
  .main-sidebar {
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;  /* Sidebar width */
    z-index: 103;
    background-color: #343a40d5; /* Sidebar background color */
  }
  
  /* Content wrapper takes the remaining space */
  .content-wrapper {
  /* Space for the sidebar */
    flex-grow: 1;  /* Allow content to take the remaining space */
    min-height: 100vh; /* Full height */
    padding-top: 60px; /* Space for navbar */
    background-color: #fff; /* Content background */
    padding-left: 20px; /* Added space to prevent edge touching */
    padding-right: 20px; /* Added space for content */
  }
  
  /* Fixed Navbar */
  .main-header {
    position: fixed;
    top: 0;
    left: 0; /* Align navbar with content */
    width: calc(100% - 250px);  /* Ensure navbar spans full width minus sidebar */
    height: 55px; /* Navbar height */
    background-color: #ffffffb7;
    z-index: 104;

  }
  
  /* Content section for UserDashboard */
  .content {
    margin-top: 60px;  /* Space below navbar */
    padding: 20px;
    background-color: #f4f6f9;  /* Light background color for content */
  }
  

.main-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.navbar-nav .form-inline {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 15px;
  
}

.nav-header
{
  font-size: 15px !important;
  margin-top: 10px;
}
.nav-header:hover
{
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 5px;
}
.brand-link
{
  font-size: 25px;
  font-weight: 500;
}

.usersearch{
  border: 1px solid rgb(0, 96, 138);
  border-radius: 5px;

}


.dashboard-box {
  min-height: 150px !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-logout
{
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgb(0, 96, 138);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  transition: 0.2s;
}
.btn-logout:hover
{
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.877);
  transform: scale(1.01);
  border: 1px solid rgb(0, 96, 138);
}